@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.nanoLink-header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    font-size: 32px;
    color: white;
    font-family: "Pacifico", sans-serif;
    height: 10vh;
    padding-top: 25px;
}
.heart{
    color: #F54049;
}